header {
  background-color: orange;
  margin-bottom: 40px;
}

body {
  color: white;
}

header h1 {
  line-height: 1;
  margin-bottom: 0;
}

header p {
  margin-top: 3px;
}

.card {
  border: 1px solid gray;
  margin-bottom: 20px;
}

.card-image {
  width: 100%;
}

.card-description {
  padding: 20px;
}

.card-description h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.card-description p {
  margin: 3px 0;



